<nav class="navbar navbar-default" role="navagation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon glyphicon-tree-decidous"></span>
        EJS Is fun
      </a>

    </div>

    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/flow">About</a></li>
      <li><a href="/keep">Clients</a></li>
    </ul>
  </div>
</nav>
